<formText title="Tanmay"></formText>
<form ng-submit="storeInfo()">
    <div class="form-group" ng-repeat="field in formSchema">
        <!--1 Field to occupy entire row-->
        <div ng-show="field.size==1">
            <label for="{{field.stack[0].fieldId}}">{{field.stack[0].fieldName}}</label>
            <input type="{{field.stack[0].fieldType}}" class="form-control" id="{{field.stack[0].fieldId}}"
                   ng-model="$parent[field.stack[0].fieldId]"
                   placeholder="{{field.stack[0].placeholder}}" ng-disabled="!field.stack[0].editBy.includes(roleId) ">
        </div>

        <!--2 Field to occupy entire row------------------------------------------------------------------->


        <div ng-show="field.size==2">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                     ng-show="field.stack[0].fieldType=='date'">
                    <label for="{{field.stack[0].fieldId}}">{{field.stack[0].fieldName}}</label>
                    <md-datepicker class="form-control" style="padding-top: 0px;" ng-model="dt1"
                                   ng-change="$parent[field.stack[0].fieldId] = dt1"
                                   md-placeholder="{{field.stack[0].placeholder}}"
                                   ng-disabled="!field.stack[0].editBy.includes(roleId)"></md-datepicker>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                     ng-show="field.stack[0].fieldType=='select'">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                     ng-show="field.stack[0].fieldType!='date' && field.stack[0].fieldType!='select' ">
                    <label for="{{field.stack[0].fieldId}}">{{field.stack[0].fieldName}}</label>
                    <input type="{{field.stack[0].fieldType}}" class="form-control" id="{{field.stack[0].fieldId}}"
                           ng-model="$parent[field.stack[0].fieldId]"
                           placeholder="{{field.stack[0].placeholder}}"
                           ng-disabled="!field.stack[0].editBy.includes(roleId) ">
                </div>
                <!--Second column-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                     ng-show="field.stack[1].fieldType=='date'">
                    <label for="{{field.stack[1].fieldId}}">{{field.stack[1].fieldName}}</label>
                    <md-datepicker class="form-control" style="padding-top: 1px;" ng-model="dt1"
                                   ng-change="$parent[field.stack[1].fieldId] = dt1"
                                   md-placeholder="{{field.stack[1].placeholder}}"
                                   ng-disabled="!field.stack[1].editBy.includes(roleId)"></md-datepicker>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                     ng-show="field.stack[1].fieldType=='select'">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                     ng-show="field.stack[1].fieldType!='date' && field.stack[1].fieldType!='select' ">
                    <label for="{{field.stack[1].fieldId}}">{{field.stack[1].fieldName}}</label>
                    <input type="{{field.stack[1].fieldType}}" class="form-control" id="{{field.stack[1].fieldId}}"
                           ng-model="$parent[field.stack[1].fieldId]"
                           placeholder="{{field.stack[1].placeholder}}"
                           ng-disabled="!field.stack[1].editBy.includes(roleId) ">
                </div>
            </div>
        </div>


        <!--3 Field------------------------------------------------------------------------------>


        <div ng-show="field.size==3">
            <div class="row">
                <!--First column -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[0].fieldType=='date'">
                    <label for="{{field.stack[0].fieldId}}">{{field.stack[0].fieldName}}</label>
                    <md-datepicker class="form-control" style="padding-top: 0px;" ng-model="dt1"
                                   ng-change="$parent[field.stack[0].fieldId] = dt1"
                                   md-placeholder="{{field.stack[0].placeholder}}"
                                   ng-disabled="!field.stack[0].editBy.includes(roleId)"></md-datepicker>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[0].fieldType=='select'">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[0].fieldType!='date' && field.stack[0].fieldType!='select' ">
                    <label for="{{field.stack[0].fieldId}}">{{field.stack[0].fieldName}}</label>
                    <input type="{{field.stack[0].fieldType}}" class="form-control" id="{{field.stack[0].fieldId}}"
                           ng-model="$parent[field.stack[0].fieldId]"
                           placeholder="{{field.stack[0].placeholder}}"
                           ng-disabled="!field.stack[0].editBy.includes(roleId) ">
                </div>
                <!--Second column-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[1].fieldType=='date'">
                    <label for="{{field.stack[1].fieldId}}">{{field.stack[1].fieldName}}</label>
                    <md-datepicker class="form-control" style="padding-top: 1px;" ng-model="dt1"
                                   ng-change="$parent[field.stack[1].fieldId] = dt1"
                                   md-placeholder="{{field.stack[1].placeholder}}"
                                   ng-disabled="!field.stack[1].editBy.includes(roleId)"></md-datepicker>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[1].fieldType=='select'">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[1].fieldType!='date' && field.stack[1].fieldType!='select' ">
                    <label for="{{field.stack[1].fieldId}}">{{field.stack[1].fieldName}}</label>
                    <input type="{{field.stack[1].fieldType}}" class="form-control" id="{{field.stack[1].fieldId}}"
                           ng-model="$parent[field.stack[1].fieldId]"
                           placeholder="{{field.stack[1].placeholder}}"
                           ng-disabled="!field.stack[1].editBy.includes(roleId) ">
                </div>
                <!--Third column of row will choose between text/date/select-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[2].fieldType=='date'">
                    <label for="{{field.stack[2].fieldId}}">{{field.stack[2].fieldName}}</label>
                    <md-datepicker class="form-control" style="padding-top: 2px;" ng-model="dt1"
                                   ng-change="$parent[field.stack[2].fieldId] = dt1"
                                   md-placeholder="{{field.stack[2].placeholder}}"
                                   ng-disabled="!field.stack[2].editBy.includes(roleId)"></md-datepicker>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[2].fieldType=='select'">
                    <label for={{field.stack[2].fieldId}}>{{field.stack[2].fieldName}}</label>
                    <select class="form-control" id={{field.stack[2].fieldId}}
                            ng-model="$parent[field.stack[2].fieldId]">
                        <option selected="selected" disabled="disabled">{{field.stack[2].placeholder}}</option>
                        <option ng-repeat="option in selectList">{{option}}</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-show="field.stack[2].fieldType!='date' && field.stack[2].fieldType!='select' ">
                    <label for="{{field.stack[2].fieldId}}">{{field.stack[2].fieldName}}</label>
                    <input type="{{field.stack[2].fieldType}}" class="form-control" id="{{field.stack[2].fieldId}}"
                           ng-model="$parent[field.stack[2].fieldId]"
                           placeholder="{{field.stack[2].placeholder}}"
                           ng-disabled="!field.stack[2].editBy.includes(roleId) ">
                </div>


                <!-------------------------------------------------------------------->

            </div><!--row-->
        </div><!--field length-->
    </div><!--form group-->
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>