<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>||RENT MANAGER||</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <!-- Application CSS-->
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="app-modules/login/login.css">
    <link rel="stylesheet" href="app-modules/register/register.css">
    <link rel="stylesheet" href="app-modules/home/home.css">


</head>
<body ng-cloak ng-controller="myAppCtrl">

<div class="page-header" style="margin: 0px; padding-bottom: 0px;">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><h1
                style="color: #1fa67b ; margin-top: 0px; margin-bottom: 0px;">Rental Manager</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-if="isLoggedIn">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h6 style="float: right; font-weight: bolder;">Welcome : {{loggedInUser}}({{role}})</h6>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a ng-click="logout()"> <i style="font-size: x-large; margin-top: 4px; color: #1fa67b"
                                               class="fa fa-power-off" ng-style="hoverColour" aria-hidden="true"
                                               ng-mouseenter="changeColor(true)"
                                               ng-mouseleave="changeColor(false)">

                    </i> </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div ui-view></div>

<!-- External JS-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular/angular-cookie.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>

<!-- Application JS-->
<script src="app.js"></script>
<script src="app-controller.js"></script>
<script src="app-modules/login/login.js"></script>
<script src="app-modules/register/register.js"></script>
<script src="app-modules/home/home.js"></script>
<!--Home Modules-->
<script src="app-modules/home/home-modules/profileManagement/profileManagement.js"></script>
<script src="app-modules/home/home-modules/userManagement/userManagement.js"></script>
<script src="app-modules/home/home-modules/roomAllotment/roomAllotment.js"></script>
<script src="app-modules/home/home-modules/roomManagement/roomManagement.js"></script>
<script src="app-modules/home/home-modules/approveRent/approveRent.js"></script>
<script src="app-modules/home/home-modules/404/404.js"></script>

</body>
</html>
