<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary" ui-sref="home.userManagement.addUser">Add New User</button>
    </div>
</div>
<hr>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Anything" ng-model="searchVal">
        </div>
    </div>
</form>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="header in rowCollection[0] | orderBy : 'order'">
                {{header.label}}
            </th>
            <th ng-if="actionsEnabled">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection | filter:searchVal">
            <td ng-repeat="rowInstance in row  | orderBy : 'order'">
                {{rowInstance.value}}
            </td>
            <td ng-if="actionsEnabled">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="performAction('e',row,$event)">Edit</button>
                        <button class="btn btn-success" ng-click="performAction('v',row,$event)">View</button>
                        <button class="btn btn-danger" ng-click="performAction('r',row,$event)">Remove</button>
                    </div>

                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
            </td>
        </tr>
        </tfoot>
    </table>
</div>