<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Register</h1>
                    <form ng-submit="register(user)" role="form" action="javascript:;" method="post" id="login-form"
                          autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" ng-model="user.email"
                                   placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type=password name="passowrd" id="password" class="form-control" ng-model="user.password"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="sr-only">Confirm Password</label>
                            <input type=password name="confirmPassword" id="confirmPassword" class="form-control" ng-model="user.confirmPassword"
                                   placeholder="Confirm Password">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Register">
                    </form>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>