<div>
    <label ng-class="{mandatory: stack.isMandatory=='1'}" >{{stack.fieldName}}</label>
    <p class="input-group">
        <input type="text" class="form-control" is-open="popup2.opened" uib-datepicker-popup ng-model="model"
               ng-change="dateValChange()" ng-required="true" placeholder="{{stack.placeholder}}" close-text="Close"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()">
                <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</div>