<md-dialog class="change-password-dialog" aria-label="Change Password">
    <md-toolbar style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="md-toolbar-tools">
            <h2>Change Password</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="images/cancel_black.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form class="form-incline">
            <div class="md-dialog-content">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div><label class="mandatory" for="oldPassword">Old Password</label>
                                <input type="text" class="form-control" id="oldPassword"
                                       ng-model="oldPassword"
                                       placeholder="Old Password"
                                       ng-required="true"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div><label class="mandatory" for="newPassword">New Password</label>
                                <input type="text" class="form-control" id="newPassword"
                                       ng-model="newPassword"
                                       placeholder="New Password"
                                       ng-required="true"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div><label class="mandatory" for="confirmPassword">Confirm New Password</label>
                                <input type="text" class="form-control" id="confirmPassword"
                                       ng-model="confirmPassword"
                                       placeholder="Confirm New Password"
                                       ng-required="true"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <!--<form class="form-horizontal">-->
        <!--<div class="form-group">-->
        <!--<label class="control-label col-sm-2" for="email">Email:</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="email" class="form-control" id="email" placeholder="Enter email">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="control-label col-sm-2" for="pwd">Password:</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="password" class="form-control" id="pwd" placeholder="Enter password">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
        <!--<div class="checkbox">-->
        <!--<label><input type="checkbox"> Remember me</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
    </md-dialog-content>
</md-dialog>