<md-dialog class="change-password-dialog" aria-label="Change Password">
    <md-toolbar style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="md-toolbar-tools">
            <h2>Change Password</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="images/cancel_black.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form class="form-incline" ng-submit="submitChangePasswordRequest()">
            <div class="md-dialog-content">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div><label class="mandatory" for="oldPassword">Old Password</label>
                                <input type="password" class="form-control" id="oldPassword"
                                       ng-model="oldPassword"
                                       placeholder="Old Password"
                                       ng-required="true"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div><label class="mandatory" for="newPassword">New Password</label>
                                <input type="password" class="form-control" id="newPassword"
                                       ng-model="newPassword"
                                       placeholder="New Password"
                                       ng-required="true"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div><label class="mandatory" for="confirmPassword">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                       ng-model="confirmPassword"
                                       placeholder="Confirm New Password"
                                       ng-required="true"
                                       validation-password="confirmPassword != newPassword ? 'Passwords don\'t match' : ''" ></div>
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>