<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1 style="color: white">Log in</h1>
                    <div class="alert alert-danger" ng-show="hasError">{{errorMsg}}</div>
                    <form ng-submit="login(user)" role="form" action="javascript:;" method="post" id="login-form"
                          autocomplete="off">

                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i
                                    class="fa fa-user fa-fw"
                                    aria-hidden="true"></i></span>
                            <input class="form-control" ng-model="user.userId" type="text" placeholder="Hostel User ID">
                        </div>
                        <div class="input-group" style="margin-top: 15px;">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"
                                                                                            aria-hidden="true"></i></span>
                            <input class="form-control" ng-model="user.password" type="password" placeholder="Password">
                        </div>

                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block"
                               style="margin-top: 15px;" value="Log in">
                    </form>

                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-1"><a href="javascript:;" class="forget"
                                                                   data-toggle="modal" data-target=".forget-modal">Forgot
                            your password?</a></div>

                    </div>


                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Recovery password</h4>
            </div>
            <div class="modal-body">
                <p>Type your email account</p>
                <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-custom">Recovery</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

